.root {
    -fx-background-color: #121212;
    -fx-padding: 10;
}

.button {
    -fx-background-color: transparent; /* Make the background transparent */
    -fx-padding: 5; /* Smaller padding */
    -fx-font-size: 12px; /* Smaller font size */
    -fx-background-radius: 5;
    -fx-border-color: transparent; /* Remove border if you don't want it */
}

.button:hover {
    -fx-background-color: #333333; /* Slightly darker background on hover */
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

.list-view {
    -fx-pref-height: 250;
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #ffffff;
}

.list-view .list-cell {
    -fx-background-color: #1e1e1e;
    -fx-text-fill: #ffffff;
}

.list-view .list-cell:hover {
    -fx-background-color: #333333;
}

.slider:horizontal {
    -fx-background-color: #1f1f1f;
    -fx-padding: 0 10;
}

.slider:horizontal .track {
    -fx-background-color: #1f1f1f;
}

.slider:horizontal .track:filled {
    -fx-background-color: #007bff;
}

.slider:horizontal .thumb {
    -fx-background-color: #007bff;
    -fx-background-radius: 10;
}

.slider:horizontal .thumb:hover {
    -fx-background-color: #0056b3;
}

.volume-slider {
    -fx-pref-width: 100;
}

.image-view {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.7), 10, 0, 0, 0);
    -fx-background-color: transparent;
    -fx-padding: 5;
    -fx-border-radius: 5;
    -fx-border-color: #333333;
}

.hbox {
    -fx-spacing: 20;
    -fx-alignment: center-left;
    -fx-background-color: #1e1e1e;
    -fx-padding: 10;
    -fx-border-color: #333333;
    -fx-border-radius: 5;
}

.vbox {
    -fx-spacing: 10;
    -fx-padding: 10;
}

.progress-slider {
    -fx-background-color: #1f1f1f;
    -fx-padding: 5 10;
}

.progress-slider .track {
    -fx-background-color: #1f1f1f;
}

.progress-slider .track:filled {
    -fx-background-color: #007bff;
}

.progress-slider .thumb {
    -fx-background-color: #007bff;
    -fx-background-radius: 10;
}

.progress-slider .thumb:hover {
    -fx-background-color: #0056b3;
}

.timer-label {
    -fx-font-size: 14px;
    -fx-text-fill: #ffffff;
}

.file-info-label {
    -fx-font-size: 12px;
    -fx-text-fill: #aaaaaa;
}

.shuffle-button-active {
    -fx-background-color: #007bff;
    -fx-text-fill: #ffffff;
}

.shuffle-button-inactive {
    -fx-background-color: #1f1f1f;
    -fx-text-fill: #ffffff;
}

.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #007bff;
}

.list-view .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #0056b3;
}

.mute-button {
    -fx-background-color: #1f1f1f;
    -fx-text-fill: #ffffff;
}

.mute-button:hover {
    -fx-background-color: #333333;
}

.file-info-label {
    -fx-font-size: 10px;
    -fx-text-fill: grey;
}